DATABASE_URL="postgresql://user:password@localhost:5432/planix"
ACCESS_SECRET="your_access_secret"
REFRESH_SECRET="your_refresh_secret"
GOOGLE_AUTH_CLIENT_ID="your_google_client_id"
GOOGLE_AUTH_SECRET_KEY="your_google_secret_key"
HOST_URL="http://localhost:3000"
AWS_ACCESS_KEY_ID="your_aws_access_key_id"
AWS_SECRET_ACCESS_KEY="your_aws_secret_access_key"
AWS_REGION="us-east-1"
AWS_S3_BUCKET="your_s3_bucket_name"
